[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-sqlalchemy = "*"
facebook-sdk = {git = "https://github.com/mobolic/facebook-sdk.git"}
requests = "*"
celery = {extras = ["redis"], version = "==3.1.25"}


[requires]

python_version = "3.6"
