anyjson==0.3.3
amqp==1.4.9
urllib3==1.22
requests==2.18.4
flask==0.12.2
redis==2.10.6
pytz==2018.3
flask-sqlalchemy==2.3.2
celery==3.1.25
markupsafe==1.0
billiard==3.3.0.23
chardet==3.0.4
kombu==3.0.37
werkzeug==0.14.1
sqlalchemy==1.2.4
jinja2==2.10
itsdangerous==0.24
certifi==2018.1.18
idna==2.6
click==6.7
git+https://github.com/mobolic/facebook-sdk.git#egg=facebook-sdk
